<html>
<head>
<title>Blag Blog Page</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Blag Blogpage</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <p>Blag was created to be an amazing highschool blog experience</p>
    <h2>Post One</h2>
    <p class="info"><img class="noborder" src="img/sun.jpg" alt="sun" title="sun"/> Subject Text</p>
    <p>The post itself. HI! blablablabla!!</p>
    <p class="post"> <a href="#" class="comments">Comments</a> </p>
    <h2>Post Two</h2>
    <p class="info"><img class="noborder" src="img/sun.jpg" alt="sun" title="sun"/> Subject Text</p>
    <p>The post itself. Wassup i want to talk about me feelings</p>
    <p class="post"> <a href="#" class="comments">Comments</a> </p>
  </div>
  <div id="container-foot">
  </div>
</div>
</body>
</html>
