<html>
<head>
<title>Blag Login</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Login</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
    <h2><font color="red">{{error}}</font></h2>
<br />
    <h2>Log In<br /><br />
      <form method = "POST">
        Username:<input type = "text" name = "name">
<br /><br />
	Password:<input type = "text" name = "password"></h2>
Blag Requires you to login before you can access its blogpage<br /><br />
	<input type = "submit" name = "press" value = "login"> or
	<input type = "submit" name = "press" value = "register">
</form>
</h2>
  </div>
</div>
</body>
</html>
