<html>
<head>
<title>Blag Login</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Login</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <h2><br /><br /><form method = "POST">New Post:<br /><textarea name = "name" style="width: 600px; height: 300px;"></textarea>
</h2>
<br />
	<input type = "submit" name = "press" value = "submit post"></form>
</h2>
  </div>
</div>
</body>
</html>
