<html>
<head>
<title>Blag Login</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Login</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <h2>Log In<br /><br /><form method = "POST">Username:<input type = "text" name = "name" value = "username">
<br /><br />
	Password:<input type = "text" name = "password" value = "password"></h2>
<br />
	<input type = "submit" name = "press" value = "login"></form>
  </div>
  <div id="container-foot">
  </div>
</div>
</body>
</html>
