<html>
<head>
<title>Blag Blog Page</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Blag Blogpage</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <p>Blag was created to be an amazing highschool blog experience</p>
    <h2>My Profile</h2><br /><input type = "submit" name = "press" value = "Edit Information"></form><br /> <br />
<h2>Picture:</h2><p class="info"><img class="noborder" src="img/me.png" alt="me" title="me"/><br />
<h2>Age:</h2>76<br />
<h2> Favorite Power Ranger:</h2>pink<br />
    
  </div>
  <div id="container-foot">
  </div>
</div>
</body>
</html>
