{% extends "layout.html" %}
{% block content %}

{% if error == "" %}
{% if session['user'] == profile[0] %}
<h2>My Profile</h2><br />
<form method = 'POST'>
  <input type = "submit" name = "press" value = "Edit Information">
  <br />
</form>
{% else %}
<h2>{{profile[0]}}'s Profile </h2><br />
{% endif %}
<h2>Picture:</h2><img id="picture" class="noborder" src="{{profile[1]}}" alt="me" title="me"/><br />
<h2>Age:</h2>{{profile[2]}}<br />
<h2> Favorite Power Ranger:</h2>{{profile[3]}}<br />
{% else %}
<p><font color="red">{{error}}</font></p>
{% endif %}  
  
{% end block %}
