<html>
<head>
<title>Blag Login</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Login</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <h2>
    <br /> 
    <form method = "POST">
      Title:<br /> <input type = "text" name = "title" value = "" ><br />
      New Post:<br />
      <textarea name = "content" style="width: 600px; height: 300px; font-family:trebuchet ms;"></textarea>
</h2>
<br />
	<input type = "submit" name = "press" value = "submit post"></form>
</h2>
  </div>
</div>
</body>
</html>
