<html>
<head>
<title>Blag Blog Page</title>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li><a href="{{url_for('home')}}">Blag Blogpage</a></li>
      <li><a href="{{url_for('makepost')}}">New Post</a></li>
	{% if session.has_key('user') %}
	<li><a href="{{url_for('logout')}}">Logout</a></li>
	{% else %}
      <li><a href="{{url_for('login')}}">Login</a></li>
	{% endif %}
      <li><a href="{{url_for('user', username=session['user'])}}">Profile</a></li>
      <li><a href="{{url_for('about')}}">About</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    {% if session.has_key('user') %}
    <p> Hello <b>{{session['user']}}</b>!</p>
    {% else %}
    <p> You are not logged in </p>
    {% endif %}
    <p>Blag was created to be an amazing highschool blog experience</p>
    <h2>{{postrow[0]}}</h2>
    <p class="info"> {% if postrow[6] %}
    <img class="noborder" src="{{postrow[6]}}", width = "100px" alt="" title="sun"/>   {% else %}
    <img class="noborder" src="{{url_for('static',filename = "img/animal_crossing.png")}}" alt="" title="sun"/> {% endif %}
      <a href="{{url_for('user', username=postrow[5]) }}">{{postrow[5]}}</a> {{postrow[4]}}
	{% if session['user'] == postrow[5] %}
	<a href="{{url_for('delete', pid = postrow[3])}}">delete post</a>
	{% endif %}
</p>
    <p>{{postrow[1]}}</p>
<br />
<br>
{% for comment in commentrow %}
<p class="info">  {% if comment[4] %}
    <img class="noborder" src="{{comment[4]}}", width = "100px" alt="" title="sun"/>   {% else %}
    <img class="noborder" src="{{url_for('static',filename = "img/animal_crossing.png")}}" alt="" title="sun"/> {% endif %}<a href="{{url_for('user', username=postrow[5]) }}">{{comment[2]}}</a>
{{comment[1]}}
{% if session['user'] == comment[2] %}
	<a href="{{url_for('delete', pid = postrow[3], cid = comment[3])}}">delete comment</a>
	{% endif %}
</p>
<p>{{comment[0]}}</p>
<br>
{% endfor %}
<br />
<form method = "POST"><input type = "submit" name = "press" value = "Submit New Comment">
  <br />
  <br />
  <textarea name = "name" style="width: 600px; height: 300px;" ></textarea></form>
  </div>
  <div id="container-foot">
  </div>
</div>
</body>
</html>
