<html>
<head>
<title>Blag Blog Page</title>
<link href={{url_for('static', filename='style.css')}} rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Blag Blogpage</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <p>Blag was created to be an amazing highschool blog experience</p>

    <p class="info"><img class="noborder" src="/static/img/animal_crossing.png" alt="ok" title="sun"/></p>
    <h1>{{postrow[0]}}</h1>
    <p>{{postrow[1]}}</p>
<br />
{% for n in range(size) %}
<h3>{{users[n]}}</h3>
<p>{{commentrow[n][0]}}</p>
{% endfor %}
<br />
<form method = "POST"><input type = "submit" name = "press" value = "Submit New Comment"></form></h2><textarea name = "name" style="width: 600px; height: 300px;" ></textarea>
  </div>
  <div id="container-foot">
  </div>
</div>
</body>
</html>
