<html>
<head>
<title>Blag Blog Page</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a id="current" href="#">Blag Blogpage</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
    <div id="content">
    <h2>Blag! The new way to blog.</h2>
<br />
    <p>Blag was created to be an amazing highschool blog experience</p>
    <h2>Post One</h2>
    <p class="info"><img class="noborder" src="img/sun.jpg" alt="sun" title="sun"/> Subject Text</p>
    <p>The post itself. HI! blablablabla!!</p>
<br />
<h2>Snady's Comment</h2>
    <p>This is a comment yaaaayyy</p>
<h2>Kager's Comment</h2>
    <p>This is another comment yaaaayyy</p>

<br />
<form method = "POST"><input type = "submit" name = "press" value = "Submit New Comment"></form></h2><textarea name = "name" style="width: 600px; height: 300px;" ></textarea>
  </div>
  <div id="container-foot">
  </div>
</div>
</body>
</html>
